*,
*:before,
*:after {
  box-sizing: inherit;
}

// @font-face {
//   font-family: 'FiraSans';
//   src: url('../assets/fonts/FiraSans-Regular.woff2');
// }

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  font-family: 'Fira Sans';
}

html {
  box-sizing: border-box;
  color: $primary-color;
  font-family: $primary-font;
}

body {
    margin: 0;
}

.overflow-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
