.header {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    background-color: var(--header__bck);
    color: var(--header__txt);
    padding: 5px;
    border-radius: 5px 5px 0 0;

    & .filter-container {
        @extend .d-flex;
        @extend .align-items-center;

        & .sport-name {
            width: 90px;
            text-align: center;
            @extend .overflow-hidden;
            margin: 0 3px;
        }

        & button {
            border-radius: 15px;
            border: 0;
            height: 25px;
            width: 25px;
            font-size: 13px;
            background-color: var(--filter-container__bck);
            color: var(--filter-container__txt);
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-center;
            &:active {
                background-color: var(--filter-container__bck-act);
            }
        }

        // & .header--arrow-left {
        //     min-width: 1.8rem;
        //     width: 1.8rem;
        //     height: 1.8rem;
        //     background-size: 100% auto;
        //     background-repeat: no-repeat;
        //     background-image: url(../../assets/img/arrow-right.svg);
        // }
    }

    & .play-a-ticket {
        background-color: var(--play-a-ticket__bck);
        border-radius: 15px;
        border: 0;
        color: var(--play-a-ticket__txt);
        font-size: 11px;
        min-height: 25px;
        padding: 1px 10px;
        line-height: 12px;
        @extend .ml-auto;
        &:active {
            background-color: var(--play-a-ticket__bck-act);
        }
    }
}

.flash {
    animation-name: flash;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes flash {
    from {
      background-color: var(--quote-container--selected__border);
    }
  
    to {
      transform: black;
    }
  }