.body-container {
    @extend .d-flex;
    @extend .align-items-center;
    padding: 5px;
    min-height: 275px;
    position: relative;
    overflow: hidden;

    & .matches-container {
        @extend .flex-fill;
        position: relative;
        margin-bottom: auto;
        text-align: center;
        overflow: hidden;

        & .no-matches{
            height: 253px;
            cursor: pointer;
            width: 100%;
        }

        & .match-container {
            background-color: var(--match-container_bck);
            padding: 5px;
            border-radius: 5px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            & .teams-date-container {
                @extend .d-flex;
                @extend .justify-content-between;
                @extend .align-items-center;

                & .teams-container {
                    text-align: left;
                    font-weight: bold;
                    font-size: 14px;
                    color: var(--teams-container__txt);
                    display: grid;
                    & div {
                        @extend .overflow-hidden;
                    }
                }

                & .date-container {
                    text-align: left;
                    font-size: 11px;
                }
            }

            & .quotes-container {
                @extend .d-flex;

                & .quote-container {
                    @extend .d-flex;
                    @extend .flex-column;
                    @extend .align-items-center;
                    @extend .flex-fill;
                    background-color: var(--quote-container__bck);
                    border: 1px solid var(--quote-container__border);
                    border-radius: 30px;
                    margin: 3px;
                    width: -webkit-fill-available;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &.selected {
                        background-color: var(--quote-container--selected__bck);
                        border: 1px solid var(--quote-container--selected__border);
                    }

                    & .quote-container--type {
                        font-size: 13px;
                        line-height: 13px;
                        padding: 1px;
                    }

                    & .quote-container--odd {
                        font-size: 15px;
                        line-height: 14px;
                        padding: 1px;
                        font-weight: bold;
                    }
                }
            }
        }
        & .no-matches-txt {
            position: absolute;            
            top: 50%;  
            left: 50%;                     
            transform: translate(-50%, -50%);
            z-index: 1;
            color: var(--no-matches-txt__txt);
            text-shadow: 2px 2px 2px #000000;
            font-size: 20px;
            text-align: center;
            width: 80%;
        }
    }

    & .nav-container {
        & button {
            background-color: var(--nav-container--btn__bck);
            color: var(--nav-container--btn__txt);
            border-radius: 15px;
            border: 0;
            height: 25px;
            width: 25px;
            font-size: 13px;
            margin-left: 5px;
            @extend .d-flex;
            @extend .align-items-center;
            @extend .justify-content-center;
            &:active {
                background-color: var(--nav-container--btn__bck-act); 
            }
        }
    }
}