$primary-font: 'Fira Sans',Helvetica, sans-serif;
$primary-color: #333;

:root {
    --header__bck: #000000;
    --header__txt: #ffffff;
    --play-a-ticket__bck: #CB2719;
    --play-a-ticket__bck-act:#c01506;
    --play-a-ticket__txt: #ffffff;

    --match-container_bck: #ffffff;
    --no-matches-txt__txt:#ffffff;

    --teams-container__txt: #000000;

    --quote-container__bck: #ffffff;
    --quote-container__border: #CCCCCC;

    --quote-container--selected__bck: #EAF6ED;
    --quote-container--selected__border: #1A9243;

    --nav-container--btn__bck: var(--play-a-ticket__bck);
    --nav-container--btn__bck-act: var(--play-a-ticket__bck-act);
    --nav-container--btn__txt: var(--play-a-ticket__txt);

    --widget__border: #11A159;
    --widget__bck: #D3D3D3;

    --filter-container__bck: #212925;
    --filter-container__bck-act: #2a332f;
    --filter-container__txt: #ffffff;
}