.widget{
    background-color: var(--widget__bck);
    border: 1px solid var(--widget__border);
    margin-top: 10px;
    border-radius: 5px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    overflow: hidden;
    position: relative;
}